extends layout

block content

    - each post in posts
        section.span8.offset2
            header
                h2 #{post.title}
                    small  #{post.author}

            section!= post.content

            - if(post.files.length > 0)
                footer: a(href="/post/file/#{post.files[0]._id}")=post.files[0].filename