!!! 5
html
    head
        title My Blog
        link(rel='stylesheet', href='/css/main.css')
        script(type="text/javascript", src="/js/plugins/jquery-1.7.2.min.js")
        script(type="text/javascript", src="/js/plugins/underscore-min.js")
        script(type="text/javascript", src="/js/plugins/backbone-min.js")

    body

        div
            - if (locals.message)
                p #{message}

        div
            a(href="/") Home
            - if (!locals.user)
                a(href="/login") Login
            - else
                a(href="/account") Account
                a(href="/logout") Logout

        block content