!!! 5
html
    head
        - if (locals.title)
            title #{title}
        - else
            title My Blog
        link(rel='stylesheet', href='css/dependencies/bootstrap/less/bootstrap.css')
        link(rel='stylesheet', href='css/dependencies/bootstrap/less/responsive.css')
        script(type="text/javascript", src="/js/plugins/jquery-1.7.2.min.js")
        script(type="text/javascript", src="/js/plugins/underscore-min.js")
        script(type="text/javascript", src="/js/plugins/backbone-min.js")

    body

        header
            nav
                - if (locals.user)
                    span Hi, #{user.username}
                a(href="/") Home
                a(href="/article") Blog
                - if (!locals.user)
                    a(href="/login") Login
                - else
                    a(href="/account") Account
                    a(href="/logout") Logout


        // Any flash/nonflash messages will appear in this block
        - if (locals.messages && locals.messages.error)
            section Error : #{locals.messages.error}
        - if (locals.messages && locals.messages.info)
            section Info : #{locals.messages.info}

        block content