!!! 5
html
    head
        - if (locals.title)
            title #{title}
        - else
            title My Blog
        link(rel='stylesheet', href='stylesheets/styles.css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans',rel='stylesheet',type='text/css')

    body

        header.navbar.navbar-fixed-top: nav.navbar-inner: .container
            a.brand(href='/') mySuperSimpleNodeBlog
            ul.nav.pull-right
                - if (locals.user)
                    li: span.navbar-text Hi, #{user.username}
                li: a(href="/") Home
                li.divider-vertical
                - if (!locals.user)
                    li: a(href="/login") Login
                - else

                    li.dropdown
                        a(href="#", data-toggle="dropdown").dropdown-toggle Account
                            b.caret
                        ul.dropdown-menu
                            li: a(href="/account") Account
                            li: a(href="/createPost") Add new post
                            li.divider
                            li: a(href="/logout") Logout

        section#mainSection.container
            // Any flash/nonflash messages will appear in this block
            - if (locals.messages && locals.messages.error)
                .alert.alert-error Error : #{locals.messages.error}
            - if (locals.messages && locals.messages.info)
                .alert.alert-info Info : #{locals.messages.info}

            block content

        footer#footer.center-text
            span sample node.js blog 2013 |
            a(href='https://github.com/aprudnikovas/node.sample.blog')  github

        script(src="dependencies/jquery/jquery.min.js")
        script(src="dependencies/bootstrap/js/bootstrap-dropdown.js")
        script(src="dependencies/underscore/underscore-min.js")
        script(src="dependencies/backbone/backbone-min.js")
        script(src="js/main.js")