!!! 5
html
    head
        - if (locals.title)
            title #{title}
        - else
            title My Blog
        link(rel='stylesheet', href='stylesheets/styles.css')

    body

        header.navbar: nav.navbar-inner: .container
            a.brand mySuperSimpleNodeBlog
            ul.nav
                li: a(href="/") Home
                li: a(href="/article") Blog
            ul.nav.pull-right
                - if (!locals.user)
                    li: a(href="/login") Login
                - else
                    li: span.navbar-text Hi, #{user.username}
                    li: a(href="/account") Account
                    li: a(href="/logout") Logout





        section.container
            // Any flash/nonflash messages will appear in this block
            - if (locals.messages && locals.messages.error)
                .alert.alert-error Error : #{locals.messages.error}
            - if (locals.messages && locals.messages.info)
                .alert.alert-info Info : #{locals.messages.info}

            block content


        script(src="")