extends layout

block content

    section#login
        form(action="/login",method="post")
            label Username
            input(type='text',name='username')

            label Password
            input(type='password',name='password')

            input(type='submit', value='Submit')

        p Hint - user:user or admin:admin or auperadmin:superadmin, each has corresponding role

    script(type="text/javascript", src="js/main.js")
