extends layout

block content

    section#login.span4.offset4

        h1.center-text Log in

        form(action="/login",method="post").form.well.well-large
            input(type='text',name='username',placeholder='username',autofocus='autofocus')#username.input-block-level
            input(type='password',name='password',placeholder='password')#password.input-block-level
            input(type='submit', value='Submit').btn.btn-primary

        p.alert.alert-info Hint - user:user or admin:admin or superadmin:superadmin, each has corresponding role
