extends layout

block content

    section#login

        h1 Log in

        form(action="/login",method="post").form-horizontal
            .control-group
                label(for="username").control-label Username
                .controls
                    input(type='text',name='username')#username

            .control-group
                label(for="password").control-label Password
                .controls
                    input(type='password',name='password')#password

            .form-actions
                input(type='submit', value='Submit').btn.btn-primary

        p.alert.alert-info Hint - user:user or admin:admin or superadmin:superadmin, each has corresponding role
